pkgbase = jellyfin-server-bin
	pkgdesc = Jellyfin server backend
	pkgver = 10.9.1
	pkgrel = 1
	url = https://jellyfin.org/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL2
	depends = aspnet-runtime-6.0
	depends = bash
	depends = sqlite
	depends = fontconfig
	depends = jellyfin-ffmpeg
	optdepends = jellyfin-web: to run web-app on the same machine
	provides = jellyfin-server
	conflicts = jellyfin-server
	conflicts = jellyfin-server-git
	options = staticlibs
	backup = etc/conf.d/jellyfin
	source = jellyfin.conf
	source = jellyfin.service
	source = jellyfin.sysusers
	source = jellyfin.tmpfiles
	sha256sums = dadc9a0bd154e6413ea87c645cc9e77e5a905d51d554b6cebfffe6c86aadd2a5
	sha256sums = 0f8511673816daf528625366b6c27bc7e6182e4ac789191c87474667398376e2
	sha256sums = 9bc1ddb77c73d46cc4078356b5773e5a776ebf8b47a1c820ad5fb17591ad5228
	sha256sums = b7faa4b0c756cdb361ef5b04fddfdc416b00f1246bb3a19a34bf4d185a6a7e5a
	source_x86_64 = https://repo.jellyfin.org/files/server/debian/latest-stable/amd64/jellyfin-server_10.9.1+deb12_amd64.deb
	sha256sums_x86_64 = be13ab2dab329febb5ff3aa683c6f8f190c86d14e614c5ae4f84560f3504e8b5
	source_aarch64 = https://repo.jellyfin.org/files/server/debian/latest-stable/arm64/jellyfin-server_10.9.1+deb12_arm64.deb
	sha256sums_aarch64 = a7d2b9805833bba01404d594356e91861e78ba63cdff44b02da85a416a49c03b
	source_armv7h = https://repo.jellyfin.org/files/server/debian/latest-stable/armhf/jellyfin-server_10.9.1+deb12_armhf.deb
	sha256sums_armv7h = fad4963580ae9cdc9cf11b3a05e6b2544e2e5765fec4d7c83d81f65285385171

pkgname = jellyfin-server-bin
